<% pings.each do |ping| %>
  <hr>
  <%= ping.pinger_name %>: <%= ping.msg %><br \>
  (<%= ping.email %>)<br \>
  <div class="btn btn-mini">
    <%= link_to "View Profile", profile_path(ping.from_profile_id) %> 
  </div>
<%end%>
