<% pings.each do |pinger| %>
  <hr>
  <%= pinger.email %>: <%= pinger.msg %><br \>
  <div class="btn btn-mini">
    <%= link_to "View Profile", profile_path(pinger.from_profile_id) %>
  </div>
<%end%>
