<p>
<h5>
  This is a matrimonial website for folks who prefer to choose partners based on personality. Profiles must be created with considerable care, and thought. Good luck.
</h5>
</p>

<p>
<img src="images/HateMyself.gif"/>
</p>

<br />
<div class="btn btn-warning btn-large">
  <%=link_to "Get Started", new_user_registration_path %>
</div>
