<div class="hero-unit">
  <h5>
    Congratulations for your new account. Now is the time to wear your thinking cap, and create your profile.
  </h5>

  <br />
  <div class="btn btn-warning btn-large">
    <%=link_to "Create Profile", new_profile_path%>
  </div>

</div>
