<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%=@pinger_name%> pinged you</h1>
    <p>
    Message: <%= @pinger_message %> <br/>
    Email: <%= @pinger_email %> <br/>
    Check Profile: <%= @pinger_profile_url %>
    </p>
  </body>
</html>
